*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
target/
/mc-config-tool/nbproject/

/mc-config-tool-annotation-processor/nbproject/
/mc-config-annotation/nbproject/
/mc-config-site/

# IDEs
.idea/
*.iml

nb-configuration.xml
*/nb-configuration.xml
