<configuration debug="true">
    <!-- =====================================================================
            logback hat immer ein defaut appender: STDOUT. Man kann seine Layout 
            konfigurieren, oder die Standart layout verwenden.
    ======================================================================= -->
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{ss.SSS} [%thread] %-5level %-5logger [%file:%line] - %msg%n</pattern>
        </encoder>
    </appender>
    
	
    <!-- ======================================================================
            setze logger fuer alle classes in de.htwsaar 
    ======================================================================== -->
    <logger name="de.htwsaar" level="TRACE">
        <appender-ref ref="STDOUT" />
    </logger>

	
	
    <!-- =================================================================== -->
    <logger name="ch.qos.logback" level="ERROR">
    </logger>
	
	
    <!-- setup the root logger -->
    <root level="FATAL">
        <!--appender-ref ref="STDOUT" /-->
    </root>
</configuration>
